<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="core.Settings">
      <section name="activeDirectory.data.Settings" type="Calmo.Data.ActiveDirectory.Configuration.ActiveDirectoryDataSection, Calmo.Data.ActiveDirectory" allowLocation="false" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <core.Settings>
    <activeDirectory.data.Settings connectionStringName="activeDirectory" userName="domain\user" password="pwd@123" />
  </core.Settings>

  <connectionStrings>
    <add name="activeDirectory" connectionString="LDAP://domain.com" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>