<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="core.Settings">
      <section name="activeDirectory.data.Settings" type="Calmo.Data.ActiveDirectory.Configuration.ActiveDirectoryDataSection, Calmo.Data.ActiveDirectory" allowLocation="false" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <core.Settings>
    <activeDirectory.data.Settings connectionStringName="activeDirectory" userName="domain\user" password="pwd@123" />
  </core.Settings>

  <connectionStrings>
    <add name="activeDirectory" connectionString="LDAP://domain.com" />
  </connectionStrings>
</configuration>